// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.container {
  display: block;
}

.quote {
  display: block;
  margin: 40px;
}

#answer {
  background-color: #FFFFE1;
}

.link {
  margin-left: 40px;
}
